.intro {
  background: #0f151d;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  width: 100%;
  z-index: 2; }
  .intro.hidden {
    opacity: 0;
    z-index: 0; }

.intro__details {
  border: 1px solid #fff;
  color: #fff;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  min-width: 320px;
  width: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1; }
  .intro__details h1 {
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 1.6;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase; }
  .intro__details p {
    font-family: 'Roboto',arial,sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
    margin-bottom: 15px; }

.intro__color-list {
  font-family: 'Roboto',arial,sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  padding: 15px 0 0 40px; }

.intro__color-list__color {
  list-style: none;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 15px;
  position: relative; }
  .intro__color-list__color::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    height: 15px;
    width: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1; }
  .intro__color-list__color.color-1::before {
    background: #00ff00; }
  .intro__color-list__color.color-2::before {
    background: #bfff00; }
  .intro__color-list__color.color-3::before {
    background: #ffffff; }
  .intro__color-list__color.color-4::before {
    background: #ff8000; }
  .intro__color-list__color.color-5::before {
    background: #ff0000; }

.btn {
  background: transparent;
  border: 3px solid #fff;
  display: block;
  letter-spacing: 4px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 200px; }
  .btn:hover {
    background: #fff;
    color: #000;
    cursor: pointer; }

html {
  height: 100%;
  width: 100%; }

body {
  background: #0f151d;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%; }
  body.pointer {
    cursor: pointer; }

#wrapper {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out; }
  #wrapper.active {
    -webkit-transform: translateX(20%);
            transform: translateX(20%); }
    #wrapper.active .country__information {
      opacity: 1; }
      #wrapper.active .country__information .country--name {
        opacity: 1; }
      #wrapper.active .country__information .country__detail {
        opacity: 1; }
        #wrapper.active .country__information .country__detail:nth-of-type(1) {
          -webkit-transition: opacity 300ms ease-in-out 800ms;
          transition: opacity 300ms ease-in-out 800ms; }
        #wrapper.active .country__information .country__detail:nth-of-type(2) {
          -webkit-transition: opacity 300ms ease-in-out 1100ms;
          transition: opacity 300ms ease-in-out 1100ms; }
        #wrapper.active .country__information .country__detail:nth-of-type(3) {
          -webkit-transition: opacity 300ms ease-in-out 1400ms;
          transition: opacity 300ms ease-in-out 1400ms; }
        #wrapper.active .country__information .country__detail:nth-of-type(4) {
          -webkit-transition: opacity 300ms ease-in-out 1700ms;
          transition: opacity 300ms ease-in-out 1700ms; }
        #wrapper.active .country__information .country__detail:nth-of-type(5) {
          -webkit-transition: opacity 300ms ease-in-out 2000ms;
          transition: opacity 300ms ease-in-out 2000ms; }
    #wrapper.active .country--name {
      opacity: 0; }

#container {
  position: absolute;
  height: 100%;
  width: 100%; }

#three-container {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%; }

.glitch, .country__information .country--name {
  overflow: hidden; }
  .glitch::before, .country__information .country--name::before, .glitch::after, .country__information .country--name::after {
    background: transparent;
    color: white;
    content: attr(data-text);
    position: absolute;
    top: 2px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    height: 100%;
    width: 100%; }
  .glitch::before, .country__information .country--name::before {
    -webkit-animation: noise-anim-2 5s infinite linear alternate-reverse;
            animation: noise-anim-2 5s infinite linear alternate-reverse;
    left: calc(50%);
    text-shadow: 1px 1px blue; }
  .glitch::after, .country__information .country--name::after {
    -webkit-animation: noise-anim 4s infinite linear alternate-reverse;
            animation: noise-anim 4s infinite linear alternate-reverse;
    left: calc(50%);
    text-shadow: 1px 1px red; }

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(14px, 9999px, 123px, 0); }
  5% {
    clip: rect(48px, 9999px, 92px, 0); }
  10% {
    clip: rect(17px, 9999px, 193px, 0); }
  15% {
    clip: rect(18px, 9999px, 50px, 0); }
  20% {
    clip: rect(32px, 9999px, 178px, 0); }
  25% {
    clip: rect(20px, 9999px, 20px, 0); }
  30% {
    clip: rect(32px, 9999px, 121px, 0); }
  35% {
    clip: rect(11px, 9999px, 105px, 0); }
  40% {
    clip: rect(8px, 9999px, 49px, 0); }
  45% {
    clip: rect(30px, 9999px, 41px, 0); }
  50% {
    clip: rect(31px, 9999px, 148px, 0); }
  55% {
    clip: rect(41px, 9999px, 51px, 0); }
  60% {
    clip: rect(36px, 9999px, 46px, 0); }
  65% {
    clip: rect(10px, 9999px, 10px, 0); }
  70% {
    clip: rect(2px, 9999px, 67px, 0); }
  75% {
    clip: rect(15px, 9999px, 135px, 0); }
  80% {
    clip: rect(20px, 9999px, 191px, 0); }
  85% {
    clip: rect(26px, 9999px, 97px, 0); }
  90% {
    clip: rect(42px, 9999px, 160px, 0); }
  95% {
    clip: rect(31px, 9999px, 60px, 0); }
  100% {
    clip: rect(42px, 9999px, 112px, 0); } }

@keyframes noise-anim {
  0% {
    clip: rect(14px, 9999px, 123px, 0); }
  5% {
    clip: rect(48px, 9999px, 92px, 0); }
  10% {
    clip: rect(17px, 9999px, 193px, 0); }
  15% {
    clip: rect(18px, 9999px, 50px, 0); }
  20% {
    clip: rect(32px, 9999px, 178px, 0); }
  25% {
    clip: rect(20px, 9999px, 20px, 0); }
  30% {
    clip: rect(32px, 9999px, 121px, 0); }
  35% {
    clip: rect(11px, 9999px, 105px, 0); }
  40% {
    clip: rect(8px, 9999px, 49px, 0); }
  45% {
    clip: rect(30px, 9999px, 41px, 0); }
  50% {
    clip: rect(31px, 9999px, 148px, 0); }
  55% {
    clip: rect(41px, 9999px, 51px, 0); }
  60% {
    clip: rect(36px, 9999px, 46px, 0); }
  65% {
    clip: rect(10px, 9999px, 10px, 0); }
  70% {
    clip: rect(2px, 9999px, 67px, 0); }
  75% {
    clip: rect(15px, 9999px, 135px, 0); }
  80% {
    clip: rect(20px, 9999px, 191px, 0); }
  85% {
    clip: rect(26px, 9999px, 97px, 0); }
  90% {
    clip: rect(42px, 9999px, 160px, 0); }
  95% {
    clip: rect(31px, 9999px, 60px, 0); }
  100% {
    clip: rect(42px, 9999px, 112px, 0); } }

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(33px, 9999px, 80px, 0); }
  5% {
    clip: rect(11px, 9999px, 8px, 0); }
  10% {
    clip: rect(29px, 9999px, 141px, 0); }
  15% {
    clip: rect(29px, 9999px, 77px, 0); }
  20% {
    clip: rect(12px, 9999px, 110px, 0); }
  25% {
    clip: rect(4px, 9999px, 186px, 0); }
  30% {
    clip: rect(7px, 9999px, 145px, 0); }
  35% {
    clip: rect(43px, 9999px, 73px, 0); }
  40% {
    clip: rect(33px, 9999px, 99px, 0); }
  45% {
    clip: rect(27px, 9999px, 28px, 0); }
  50% {
    clip: rect(31px, 9999px, 126px, 0); }
  55% {
    clip: rect(45px, 9999px, 194px, 0); }
  60% {
    clip: rect(39px, 9999px, 166px, 0); }
  65% {
    clip: rect(11px, 9999px, 189px, 0); }
  70% {
    clip: rect(13px, 9999px, 3px, 0); }
  75% {
    clip: rect(37px, 9999px, 199px, 0); }
  80% {
    clip: rect(13px, 9999px, 194px, 0); }
  85% {
    clip: rect(29px, 9999px, 171px, 0); }
  90% {
    clip: rect(7px, 9999px, 87px, 0); }
  95% {
    clip: rect(36px, 9999px, 19px, 0); }
  100% {
    clip: rect(9px, 9999px, 118px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(33px, 9999px, 80px, 0); }
  5% {
    clip: rect(11px, 9999px, 8px, 0); }
  10% {
    clip: rect(29px, 9999px, 141px, 0); }
  15% {
    clip: rect(29px, 9999px, 77px, 0); }
  20% {
    clip: rect(12px, 9999px, 110px, 0); }
  25% {
    clip: rect(4px, 9999px, 186px, 0); }
  30% {
    clip: rect(7px, 9999px, 145px, 0); }
  35% {
    clip: rect(43px, 9999px, 73px, 0); }
  40% {
    clip: rect(33px, 9999px, 99px, 0); }
  45% {
    clip: rect(27px, 9999px, 28px, 0); }
  50% {
    clip: rect(31px, 9999px, 126px, 0); }
  55% {
    clip: rect(45px, 9999px, 194px, 0); }
  60% {
    clip: rect(39px, 9999px, 166px, 0); }
  65% {
    clip: rect(11px, 9999px, 189px, 0); }
  70% {
    clip: rect(13px, 9999px, 3px, 0); }
  75% {
    clip: rect(37px, 9999px, 199px, 0); }
  80% {
    clip: rect(13px, 9999px, 194px, 0); }
  85% {
    clip: rect(29px, 9999px, 171px, 0); }
  90% {
    clip: rect(7px, 9999px, 87px, 0); }
  95% {
    clip: rect(36px, 9999px, 19px, 0); }
  100% {
    clip: rect(9px, 9999px, 118px, 0); } }

.country--name {
  font-size: 86px;
  letter-spacing: 3px;
  line-height: 1.5;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  width: 80%; }
  .country--name.visible {
    opacity: 1; }

.country__information {
  opacity: 0;
  position: absolute;
  left: -20%;
  height: 100%;
  width: 500px;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }
  .country__information .country--name {
    font-size: 20px;
    margin: 50px auto;
    min-height: 30px;
    position: relative;
    left: auto;
    top: auto;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    white-space: inherit;
    -webkit-transition: all 300ms ease-in-out 500ms;
    transition: all 300ms ease-in-out 500ms; }

.country__details {
  padding: 20px 20px 20px 70px; }

.country__detail {
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out; }
  .country__detail label {
    display: block;
    font-size: 10px;
    letter-spacing: 6px;
    margin-bottom: 7px;
    text-transform: uppercase; }

.country__detail--languages {
  word-break: break-all; }

.tweet-count {
  position: absolute;
  right: 30px;
  top: 20px; }

.tweet-box {
  position: absolute;
  min-height: 100px;
  width: 200px;
  z-index: -1; }
  .tweet-box.visible {
    z-index: 1; }
    .tweet-box.visible .tweet-box--avatar,
    .tweet-box.visible .tweet-box--user-name,
    .tweet-box.visible .tweet-box--tweet-text {
      -webkit-transition: opacity 500ms ease-in-out 400ms;
      transition: opacity 500ms ease-in-out 400ms;
      opacity: 1; }
  .tweet-box.top-left {
    -webkit-transform: translate(-131%, -75px);
            transform: translate(-131%, -75px); }
    .tweet-box.top-left .tweet-box--line.top {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
      .tweet-box.top-left .tweet-box--line.top::before {
        -webkit-transition: width 200ms linear 200ms;
        transition: width 200ms linear 200ms;
        width: 100%; }
    .tweet-box.top-left .tweet-box--line.side {
      left: calc(100% - 28px);
      top: 61px;
      -webkit-transform: rotate(50deg);
              transform: rotate(50deg); }
      .tweet-box.top-left .tweet-box--line.side::before {
        right: 0;
        -webkit-transition: width 200ms linear;
        transition: width 200ms linear;
        width: 100%; }
  .tweet-box.top-right {
    -webkit-transform: translate(31%, -75px);
            transform: translate(31%, -75px); }
    .tweet-box.top-right .tweet-box--line.top::before {
      -webkit-transition: width 200ms linear 200ms;
      transition: width 200ms linear 200ms;
      width: 100%; }
    .tweet-box.top-right .tweet-box--line.side {
      left: -40%;
      -webkit-transform: rotate(-50deg);
              transform: rotate(-50deg); }
      .tweet-box.top-right .tweet-box--line.side::before {
        -webkit-transition: width 200ms linear;
        transition: width 200ms linear;
        width: 100%; }
  .tweet-box.bottom-left {
    -webkit-transform: translate(-130%, calc(-100% + 75px));
            transform: translate(-130%, calc(-100% + 75px)); }
    .tweet-box.bottom-left .tweet-box--line.top {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      top: 100%; }
      .tweet-box.bottom-left .tweet-box--line.top::before {
        -webkit-transition: width 200ms linear 200ms;
        transition: width 200ms linear 200ms;
        width: 100%; }
    .tweet-box.bottom-left .tweet-box--line.side {
      left: calc(100% - 28px);
      top: calc(100% - 61px);
      -webkit-transform: rotate(-50deg);
              transform: rotate(-50deg); }
      .tweet-box.bottom-left .tweet-box--line.side::before {
        right: 0;
        -webkit-transition: width 200ms linear;
        transition: width 200ms linear;
        width: 100%; }
  .tweet-box.bottom-right {
    -webkit-transform: translate(30%, calc(-100% + 75px));
            transform: translate(30%, calc(-100% + 75px)); }
    .tweet-box.bottom-right .tweet-box--line.top {
      top: 100%; }
      .tweet-box.bottom-right .tweet-box--line.top::before {
        -webkit-transition: width 200ms linear 200ms;
        transition: width 200ms linear 200ms;
        width: 100%; }
    .tweet-box.bottom-right .tweet-box--line.side {
      left: -40%;
      top: 100%;
      -webkit-transform: rotate(50deg);
              transform: rotate(50deg); }
      .tweet-box.bottom-right .tweet-box--line.side::before {
        -webkit-transition: width 200ms linear;
        transition: width 200ms linear;
        width: 100%; }
  .tweet-box .tweet-box--avatar,
  .tweet-box .tweet-box--user-name,
  .tweet-box .tweet-box--tweet-text {
    opacity: 0;
    overflow: hidden; }

.tweet-box--line {
  background: transparent;
  height: 1px;
  position: absolute; }
  .tweet-box--line::before {
    background: #fff;
    content: "";
    position: absolute;
    height: 1px;
    width: 0; }
  .tweet-box--line.top {
    left: 0;
    top: 0;
    width: 100%; }
  .tweet-box--line.side {
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transition: width 200ms linear;
    transition: width 200ms linear;
    width: 40%; }

.tweet-box--avatar {
  width: 75px; }

.tweet-box--tweet-text {
  font-family: 'Roboto',arial,sans-serif; }

.back-btn {
  opacity: 0;
  position: absolute;
  right: calc(20% - 35px);
  top: 30px;
  height: 15px;
  width: 35px;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  z-index: -1; }
  .back-btn:before {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .back-btn::after {
    background: #fff;
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .back-btn:hover {
    cursor: pointer; }
  .back-btn.visible {
    opacity: 1;
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
    -webkit-transition: opacity 325ms ease-in-out 500ms, -webkit-transform 500ms ease-in-out 500ms;
    transition: opacity 325ms ease-in-out 500ms, -webkit-transform 500ms ease-in-out 500ms;
    transition: opacity 325ms ease-in-out 500ms, transform 500ms ease-in-out 500ms;
    transition: opacity 325ms ease-in-out 500ms, transform 500ms ease-in-out 500ms, -webkit-transform 500ms ease-in-out 500ms;
    z-index: 1; }

/*# sourceMappingURL=app.css.map*/